<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.trustnote.activity.skeleton.mybatis.mapper.AnnounceMapper">
  <resultMap id="BaseResultMap" type="org.trustnote.activity.common.pojo.Announce">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title_cn" jdbcType="VARCHAR" property="titleCn" />
    <result column="title_en" jdbcType="VARCHAR" property="titleEn" />
    <result column="viewed_cn" jdbcType="INTEGER" property="viewedCn" />
    <result column="viewed_en" jdbcType="INTEGER" property="viewedEn" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="placed_top" jdbcType="INTEGER" property="placedTop" />
    <result column="available" jdbcType="INTEGER" property="available" />
    <result column="last_modifed" jdbcType="TIMESTAMP" property="lastModifed" />
    <result column="last_by" jdbcType="INTEGER" property="lastBy" />
    <result column="content_cn" jdbcType="LONGVARCHAR" property="contentCn" />
    <result column="content_en" jdbcType="LONGVARCHAR" property="contentEn" />
    <result column="external_link" jdbcType="VARCHAR" property="externalLink" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title_cn, title_en, content_cn, content_en, viewed_cn, viewed_en, release_time, placed_top, available,
    last_modifed, last_by, external_link
  </sql>
  <select id="selectByExample" parameterType="org.trustnote.activity.common.example.AnnounceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from announce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from announce
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByExampleAndPage" parameterType="org.trustnote.activity.common.example.AnnounceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from announce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from announce
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.trustnote.activity.common.example.AnnounceExample">
    delete from announce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.trustnote.activity.common.pojo.Announce">
    insert into announce (id, title_cn, title_en, 
      viewed_cn, viewed_en, release_time, 
      placed_top, available, last_modifed, 
      last_by, content_cn, content_en, external_link
      )
    values (#{id,jdbcType=INTEGER}, #{titleCn,jdbcType=VARCHAR}, #{titleEn,jdbcType=VARCHAR},
      #{viewedCn,jdbcType=INTEGER}, #{viewedEn,jdbcType=INTEGER}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{placedTop,jdbcType=INTEGER}, #{available,jdbcType=INTEGER}, #{lastModifed,jdbcType=TIMESTAMP}, 
      #{lastBy,jdbcType=INTEGER}, #{contentCn,jdbcType=LONGVARCHAR}, #{contentEn,jdbcType=LONGVARCHAR},
      #{externalLink,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.trustnote.activity.common.pojo.Announce">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID() as id
    </selectKey>
    insert into announce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="titleCn != null">
        title_cn,
      </if>
      <if test="titleEn != null">
        title_en,
      </if>
      <if test="viewedCn != null">
        viewed_cn,
      </if>
      <if test="viewedEn != null">
        viewed_en,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="placedTop != null">
        placed_top,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="lastModifed != null">
        last_modifed,
      </if>
      <if test="lastBy != null">
        last_by,
      </if>
      <if test="contentCn != null">
        content_cn,
      </if>
      <if test="contentEn != null">
        content_en,
      </if>
      <if test="externalLink != null">
        external_link,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="titleCn != null">
        #{titleCn,jdbcType=VARCHAR},
      </if>
      <if test="titleEn != null">
        #{titleEn,jdbcType=VARCHAR},
      </if>
      <if test="viewedCn != null">
        #{viewedCn,jdbcType=INTEGER},
      </if>
      <if test="viewedEn != null">
        #{viewedEn,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="placedTop != null">
        #{placedTop,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        #{available,jdbcType=INTEGER},
      </if>
      <if test="lastModifed != null">
        #{lastModifed,jdbcType=TIMESTAMP},
      </if>
      <if test="lastBy != null">
        #{lastBy,jdbcType=INTEGER},
      </if>
      <if test="contentCn != null">
        #{contentCn,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentEn != null">
        #{contentEn,jdbcType=LONGVARCHAR},
      </if>
      <if test="externalLink != null">
        #{externalLink,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.trustnote.activity.common.example.AnnounceExample" resultType="java.lang.Long">
    select count(*) from announce
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update announce
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.titleCn != null">
        title_cn = #{record.titleCn,jdbcType=VARCHAR},
      </if>
      <if test="record.titleEn != null">
        title_en = #{record.titleEn,jdbcType=VARCHAR},
      </if>
      <if test="record.viewedCn != null">
        viewed_cn = #{record.viewedCn,jdbcType=INTEGER},
      </if>
      <if test="record.viewedEn != null">
        viewed_en = #{record.viewedEn,jdbcType=INTEGER},
      </if>
      <if test="record.releaseTime != null">
        release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.placedTop != null">
        placed_top = #{record.placedTop,jdbcType=INTEGER},
      </if>
      <if test="record.available != null">
        available = #{record.available,jdbcType=INTEGER},
      </if>
      <if test="record.lastModifed != null">
        last_modifed = #{record.lastModifed,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastBy != null">
        last_by = #{record.lastBy,jdbcType=INTEGER},
      </if>
      <if test="record.contentCn != null">
        content_cn = #{record.contentCn,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.contentEn != null">
        content_en = #{record.contentEn,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.externalLink != null">
        external_link = #{record.externalLink,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update announce
    set id = #{record.id,jdbcType=INTEGER},
      title_cn = #{record.titleCn,jdbcType=VARCHAR},
      title_en = #{record.titleEn,jdbcType=VARCHAR},
      viewed_cn = #{record.viewedCn,jdbcType=INTEGER},
      viewed_en = #{record.viewedEn,jdbcType=INTEGER},
      release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      placed_top = #{record.placedTop,jdbcType=INTEGER},
      available = #{record.available,jdbcType=INTEGER},
      last_modifed = #{record.lastModifed,jdbcType=TIMESTAMP},
      last_by = #{record.lastBy,jdbcType=INTEGER},
      external_link = #{record.externalLink,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.trustnote.activity.common.pojo.Announce">
    update announce
    <set>
      <if test="titleCn != null">
        title_cn = #{titleCn,jdbcType=VARCHAR},
      </if>
      <if test="titleEn != null">
        title_en = #{titleEn,jdbcType=VARCHAR},
      </if>
      <if test="viewedCn != null">
        viewed_cn = #{viewedCn,jdbcType=INTEGER},
      </if>
      <if test="viewedEn != null">
        viewed_en = #{viewedEn,jdbcType=INTEGER},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="placedTop != null">
        placed_top = #{placedTop,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=INTEGER},
      </if>
      <if test="lastModifed != null">
        last_modifed = #{lastModifed,jdbcType=TIMESTAMP},
      </if>
      <if test="lastBy != null">
        last_by = #{lastBy,jdbcType=INTEGER},
      </if>
      <if test="contentCn != null">
        content_cn = #{contentCn,jdbcType=LONGVARCHAR},
      </if>
      <if test="contentEn != null">
        content_en = #{contentEn,jdbcType=LONGVARCHAR},
      </if>
      <if test="externalLink != null">
        external_link = #{externalLink,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.trustnote.activity.common.pojo.Announce">
    update announce
    set title_cn = #{titleCn,jdbcType=VARCHAR},
      title_en = #{titleEn,jdbcType=VARCHAR},
      viewed_cn = #{viewedCn,jdbcType=INTEGER},
      viewed_en = #{viewedEn,jdbcType=INTEGER},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      placed_top = #{placedTop,jdbcType=INTEGER},
      available = #{available,jdbcType=INTEGER},
      last_modifed = #{lastModifed,jdbcType=TIMESTAMP},
      last_by = #{lastBy,jdbcType=INTEGER},
      external_link = #{externalLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="changeViewed" parameterType="map">
    update announce
    <set>
      <if test="type != null and type == 1">
        viewed_cn = viewed_cn + 1,
      </if>
      <if test="type != null and type == 2">
        viewed_en = viewed_en + 1,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>